.breadcrumb {
  &-item {
    &,
    & + &::before,
    &.active,
    &.active::before,
    a,
    a:hover {
      color: $gray-800;
    }
  }

  &--white .breadcrumb-item,
  &--white .breadcrumb-item + .breadcrumb-item::before,
  &--white .breadcrumb-item + .breadcrumb-item.active,
  &--white .breadcrumb-item + .breadcrumb-item.active::before,
  &--white .breadcrumb-item a,
  &--white .breadcrumb-item a:hover {
    color: $white;
  }
}

.pagination {
  margin-bottom: 0;

  .page-item {
    &:not(:last-child) {
      margin-right: 4px;
    }
  }

  .page-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    min-width: 28px;
    height: 28px;
    border-radius: 14px !important;
    font-size: 13px;
    font-weight: 700;
    color: $gray-800;
    padding: 0 6px !important;
    border: 0 !important;
  }

  .page-item.active .page-link {
    background-color: $orange;
    color: $white;
  }
}

.search {
  padding: 16px 20px;
  border-top: 1px solid #aaa;
  background-color: $light;

  .form-control {
    border-right: 0;

    &:focus {
      box-shadow: unset;
    }
  }

  .form-control:focus ~ .input-group-text {
    border-color: $input-focus-border-color;
  }

  @media (min-width: 1200px) {
    display: none;
  }
}
