@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,700&display=swap');

@include font-face('iCielBonVivant-Serif', 'iCielBonVivant-SerifRegular');
@include font-face('iCielBonVivant-Serif', 'iCielBonVivant-SerifBold', 700);

$montserrat: 'Montserrat', sans-serif;

$times: 'Time New Roman', serif;
$vivant: 'iCielBonVivant-Serif', serif;
