
.layout {
  display: flex;
  flex-direction: column;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  &__title {
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    color: $white;
    background-color: $orange-darker;
    text-align: center;
    padding: 10px;
    margin: 0;
    text-transform: uppercase;
  }

  &__body {
    width: 100%;
    border: 10px solid $orange-darker;
    border-top: 0 !important;
    position: relative;
    background-color: $orange;
    flex: 1;
  }

  &__grid {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
  }

  &__aside {
    flex: 0 0 33.33%;
    position: relative;
  }

  &__main {
    flex: 0 0 66.66%;
    position: relative;
    order: 1;
  }

  &__iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }

  @media (max-width: 991px) {
    &__title {
      padding: 8px 30px;
      font-size: 16px;
    }

    &__body {
      border-width: 0 4px 4px 0;
    }
  }

  @media (max-width: 500px) {
    &__grid {
      flex-direction: column;
    }

    &__aside {
      flex: 1;
      order: 2;
    }

    &__main {
      flex: unset;
      position: relative;
      width: 100%;

      &::before {
        content: '';
        display: block;
        width: 100%;
        padding-bottom: 56.25%;
      }
    }
  }
}

.popup {
  &--list .modal-content {
    border-radius: 20px;
    overflow: hidden;
  }

  .modal-content {
    background: rgba($purple, 0.8);
    border: 0 !important;
    outline: 0 !important;
    border-radius: 12px;
    overflow: hidden;
  }

  .modal-header {
    position: relative;
    z-index: 10;
    height: 0;
    padding: 0;
    border: 0;

    .close {
      display: flex;
      width: 24px;
      height: 24px;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      background: 0;
      border: 0;
      color: $white;
      position: absolute;
      top: 23px;
      right: 8px;
      transform: translateY(-50%);
    }

    .close--sm {
      top: 20px;
    }

    .close--list {
      top: 60px;
      right: 8px;
      font-size: 24px;
      color: $orange;
    }
  }

  .modal-body {
    padding: 0 !important;
  }

  @media (min-width: 576px) {
    .modal-dialog {
      max-width: calc(100% - 40px);
    }

    .popup-share.modal-dialog {
      max-width: 500px !important;
    }

    .popup-share &__frame {
      height: 200px;
    }
  }

  @media (min-width: 1200px) {
    .modal-dialog {
      max-width: 900px;
    }
  }

  @media (min-width: 1400px) {
    .modal-dialog {
      max-width: 1030px;
    }
  }

  @media (max-width: 991px) {
    .modal-content {
      border-radius: 8px;
    }

    .modal-header {
      .close {
        top: 20px;
        right: 4px;
      }

      .close--list {
        top: 12px;
        right: 0;
      }
    }

    &__frame {
      height: calc(100vh - 80px);
    }

    .popup-share &__frame {
      height: 200px;
    }

    &--list .modal-content {
      border-radius: 8px;
    }
  }
}

#the-canvas {
  border: 1px solid black;
  direction: ltr;
}
