.intro {
  &__header {
    height: 6px;
    background-color: $orange;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
  }

  &__logo {
    display: flex;
    padding: 12px 14px;
    background: $orange;
    border-radius: 0 0 10px 10px;
    position: absolute;
    top: 0;
    left: 8%;

    img {
      height: 50px;
    }
  }

  &__img {
    width: 100vw;
    max-width: 100%;
    height: 100vh;
    object-fit: cover;
    object-position: 50% 50%;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: $white;
    width: 30vw;
    padding: 20px 20px 20px 10vw;
    min-height: 200vh;
    transform: translateY(-62%);
    transition: 0.3s;
    position: absolute;
    z-index: 101;
    top: 50%;
    right: 0;

    &-bg {
      width: 130%;
      height: 100%;
      object-fit: cover;
      object-position: 0 50%;
      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;
    }

    &-header {
      display: flex;
      justify-content: flex-end;
      position: relative;
    }

    &-close {
      width: 24px;
      height: 24px;
      cursor: pointer;
      background: 0;
      border: 0;
      padding: 0;
      position: absolute;
      bottom: calc(100% + 16px);
      right: 0;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }

    &-title {
      font-size: 16px;
      font-weight: 600;
      text-transform: uppercase;
      margin-bottom: 16px;
    }

    &-desc {
      font-size: 11px;
    }

    &-body {
      padding-right: 10px;
      max-height: 130px;
      overflow: auto;

      &::-webkit-scrollbar-track
      {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0);
        border-radius: 2px;
        background-color: transparent;
      }

      &::-webkit-scrollbar
      {
        width: 4px;
        background-color: transparent;
      }

      &::-webkit-scrollbar-thumb
      {
        border-radius: 2px;
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0);
        background-color: #fff;
      }
    }

    &.is-close {
      transform: translate(100%, -72%);
    }
  }

  @media (max-width: 1799px) {
    &__content {
      padding-left: 12vw;

      &-title {
        font-size: 13px;
        margin-bottom: 6px;
      }

      &-desc {
        font-size: 10px;
      }

      &-body {
        padding-right: 6px;
      }
    }
  }

  @include media-breakpoint-down(xxl) {
    &__content {
      width: 38vw;
      padding-left: 14vw;
    }
  }

  @include media-breakpoint-down(xl) {
    &__logo {
      padding: 8px;

      img {
        height: 40px;
      }
    }

    &__content {
      width: 50vw;
      transform: translate(0, -65%);
      padding-left: 20vw;

      &-body {
        max-height: 100px;
      }
    }
  }

  @include media-breakpoint-down(sm) {
    &__content {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      width: 100vw;
      height: 100vh;
      min-height: 100vh;
      top: 100%;
      transform: translate(0, -50%);
      padding-left: 40vw;
      padding-right: 6px;
      overflow: hidden;
      top: 0;
      transform: unset;

      &-bg {
        height: 200%;
      }

      &-title {
        font-size: 12px;
        padding-left: 14vw;
      }

      &-body {
        max-height: 100px;
        text-align: right;
        margin-bottom: 0;
      }
    }
  }
}

.n-search {
  width: 240px;
  position: fixed;
  top: 40px;
  right: 40px;
  z-index: 20;
  background: linear-gradient(to right, #E76338, #EB8F57);
  border-radius: 6px !important;
  box-shadow:
    0 1px 2px rgba(#000, 0.1),
    0 1px 10px rgba(#000, 0.15);
  border: 1px solid $orange-darker;

  &::before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 6px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background: linear-gradient(to bottom, rgba(#fff, 0.4) 0%, rgba(#fff, 0) 40%, rgba(#fff, 0) 100%);
  }

  .input-group-text {
    background: 0;
    border: 0;
    padding: 4px 0 4px 12px;
    color: $white;
    font-size: 12px;
  }

  .form-control {
    background: 0;
    color: $white;
    font-size: 12px;
    padding: 4px 12px;
    line-height: 22px;
    border: 0;

    &::placeholder {
      color: $white;
    }
  }

  &__dropdown {
    width: 100%;
    position: absolute;
    top: calc(100% + 16px);
    left: 0;
    z-index: 10;
  }

  &__close {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    border: 0;
    background: 0;
    padding: 0;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 10;
    cursor: pointer;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: 50% 50%;
    }
  }

  @include media-breakpoint-down(xl) {
    top: 20px;
    right: 20px;
  }

  @include media-breakpoint-down(sm) {
    top: 16px;
    right: 16px;
    width: 200px;
  }
}
